<h1>Login</h1>

<%= form_for :user, :action => "login" do |f| %>
	
	<% if params[:failed_to_sign_in] == "true" %>
	<p>
		<font color="red">
			<b>Unable to sign in.</b>
		</font>
	</p>
	<% end %>
	
	<div class="field">
		<%= f.label :email %> <br/>
		<%= f.text_field :email, :value => params[:email] %>
	</div>
	<div class="field">
		<%= f.label :password %> <br/>
		<%= f.password_field :password %>
	</div>
	<div class="actions">
		<%= f.submit "Sign In" %>
	</div>
	
<% end %>
