<h1>Sign up</h1>

<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :name %> (this will be shown to other users) <br/>
		<%= f.text_field :name %><br/>
	</div>
	<div class="field">
		<%= f.label :email %> (you'll use this to log in) <br/>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %> <br/>
		<%= f.password_field :password %>
	</div>
	<div class="Field">
		<%= f.label :password_confirmation %> <br/>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	
<% end %>